.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0.308);
    padding: 60px 20px 50px 20px;
}

.decoration-contact {
    position: absolute;
    width: 130px;
    height: 200px;
    top: 40px;
    left: 25px;
    background-color: transparent;
    background-image: radial-gradient(rgba(0, 0, 0, 0.356) 2px,
            transparent 1px);
    background-size: 10px 10px;
}

.title-contact {
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px;
}

.container-contact {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title-talk-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}

.title-talk-contact p {
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
    color: rgb(100, 99, 99);
}

.title-talk {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.form {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form input {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 17px;
    outline: none;
}

.form textarea {
    background-color: transparent;
    width: 400px;
    border: none;
    border-bottom: 1px solid black;
    margin: 30px 0px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.form button {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 30px;
    transition: .4s;
    font-size: 18px;
}

.form button:hover {
    border: 1px solid black;
    color: black;
    background: transparent;
}
.cv{
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid black;
    padding: 12px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    transition: .3s;
}
.cv:hover{
    padding: 12px 15px;
    letter-spacing: 1px;
}


@media screen and (max-width: 1052px) {
    .title-talk {
        font-size: 3rem;
    }

    .title-contact {
        margin-bottom: 60px;
    }

    .title-talk-contact p {
        font-size: 1.2rem;
    }

    .form input {
        width: 350px;
    }

    .form textarea {
        width: 350px;

    }

    .form button {
        width: 100%;

    }
}

@media screen and (max-width: 900px) {


    .title-talk {
        text-align: center;
        font-size: 3.8rem;
    }

    .title-contact {
        margin-bottom: 60px;
        text-align: center;
    }

    .title-talk-contact {
        margin-bottom: 40px;
    }

    .form input {
        width: 400px;
    }

    .form textarea {
        width: 400px;
    }

}

@media screen and (max-width: 700px) {
    .title-contact {
        font-size: 28px;
    }
}

@media screen and (max-width: 540px) {
    .title-contact {
        font-size: 26px;
    }
    .title-talk-contact p {
        font-size: 1.4rem;
        text-align: center;
    }

    .title-talk {
        font-size: 3.6rem;
    }

    .title-talk-contact {
        margin: 30px 15px 70px 15px;
    }

    .form input {
        width: 250px;
    }

    .form textarea {
        width: 250px;
    }

    .form button {
        font-size: 16px;
        padding: 10px;
    }
}